*.class

target

# IntelliJ
*.iml
.idea

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# TeamCity local directory for downloading and running TeamCity Server.
.teamcity/

# The version file that is generated when unit tests are run.
browserstack-id.txt
